<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>

    <!--CSS Link-->
    <link rel="stylesheet" href="./css/style.css">

    <!--VUE3 CDN-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <section id="titolo">
            <h1>
                {{ message }}
            </h1>
        </section>

        <section id="immagine">
            <img v-bind:src="immagine" alt="">
        </section>

        <section id="input">
            <label for="change-title">Cambia titolo:</label>           
            <input type="text" v-model="message">

            <label for="change-url-image">Change the Image:</label>
            <input type="text" v-model="immagine">
        </section>
    </div>
    
    <script src="./js/script.js"></script>
</body>
</html>